#tweets-container {
  width: 100%;
  margin-bottom: 400px;
}

.tweet-history {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid rgb(84, 81, 73);
  margin-bottom: 1.8em;
}

.tweet-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 96%;
  margin-top: 10px;
  font-size: 21px;
}

.profile-picture {
  display: flex;
  align-items: center;
  zoom: 80%;
}

.avatar {
  zoom: 90%;
}

.profile-picture .username {
  font-family: 'Source Sans 3', sans-serif;
  color: rgb(84, 81, 73);
  font-weight: 500;
  font-size: 1.25em;
  margin-left: 10px;
  padding-top: 16px
}

.mention {
  color: rgb(181, 181, 181);
  font-size: 21px;
  font-weight: 600;
  padding-bottom: 25px;
}

.tweet-content {
  margin-top: 30px;
  width: 97%;
  height: 30px;
  font-size: 21px;
  font-weight: 600;
  border-bottom: 3px solid rgb(84, 81, 73);
  text-indent: 18px;
}

.tweet-footer {
  width: 94%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 1.8em;
}

.tweet-timestamp {
  font-size: 16px;
  font-weight: 600;
}

.tweet-footer .icons i {
  font-size: 13px;
  transition: color 0.3s;
  cursor: pointer;
}

.tweet-footer .icons i:hover {
  color: #a0fbbb;
}

article:hover {
  box-shadow: 4px 7px 10px rgba(97, 244, 193, 0.5); 
}

article:hover .tweet-content {
  color: rgb(84, 81, 73);
}

article:hover .tweet-footer{
  color: rgb(84, 81, 73);
}

.tweet-history {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.tweet-content {
  flex: 1;
  word-wrap: break-word;
}
